.post__container{
    width: 60%;
    margin: 0 auto 0 auto;
    max-width: 600px;
    border-radius: 15px;
    border: 1px solid #d1d1d1;
    margin-bottom: 1.5rem;
}

@media screen and (max-width: 660px) {
    .post__container{
        max-width: 100%;
        width: auto;
        margin: 0;
        border: none;
        border-radius: 0px;
        border: none;
    }
}