.filled-heart{
    fill: #ff0000;
    animation: like ease-in-out .2s;
}

.icon{
    width: 25px;
    height: 25px;
    margin: 0 5px;
    cursor: pointer;
}

.loadingCircle{
    display: block;
    width: 25px;
    height: 25px;
    border: 2px solid #d1d1d1;
    border-radius: 50%;
    border-right: none;
    animation: rotate 3s infinite;
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes like {
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}